# This is Git's per-user configuration file.
[pull]
	rebase = true
[merge]
	tool = vimdiff
	conflictsyle = diff3
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[url "git@github.com:shellagilehub/"]
	insteadOf = https://github.com/shellagilehub/
[url "git@github.com:kaluza-tech/"]
	insteadOf = https://github.com/kaluza-tech/
[http]
	cookiefile = ~/.gitcookies
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[includeIf "gitdir:~/src/github.com/mec07/"]
	path=~/.gitconfig_personal
[includeIf "gitdir:~/src/github.com/godragons/"]
	path=~/.gitconfig_godragons
[includeIf "gitdir:~/src/github.com/processout/"]
	path=~/.gitconfig_checkout.com